<?xml version="1.0" encoding="utf-8"?>
<!--Contributors: Jason Havill, Justin MacKinnon-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCI4176GroupProject"
        tools:targetApi="31">

        <activity
            android:name=".activities.StoreActivity"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.NoActionBar" />
        <activity
            android:name=".activities.LevelSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.levels.Level1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level3Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level4Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level5Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level6Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level7Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level8Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level9Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />
        <activity
            android:name=".activities.levels.Level10Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.CSCI4176GroupProject.Fullscreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>